@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
body {
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    background: rgb(57, 170, 42);
}
.capa {
    width: 100%;
}
.beneficios {
text-align: left;
background-color: grey;
}
ul {
display: inline-block;
vertical-align: top;
margin-right: 50px;
}
li {
padding: 25px;
font-size: 26px;
}
.foto-beneficios{
    width: 40%;
}